In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

<h1 text-align: center>A estratégia de imputação.</h1>

<p>Se "mean", substitua os valores ausentes usando a média ao longo de cada coluna. Só pode ser usado com dados numéricos.</p>

<p>Se "median", substitua os valores ausentes usando a mediana ao longo de cada coluna. Só pode ser usado com dados numéricos.</p>

<p>Se "most_frequent", substitua a falta usando o valor mais frequente ao longo de cada coluna. Pode ser usado com strings ou dados numéricos. Se houver mais de um valor desse valor, apenas o menor é devolvido.</p>

<p>Se "constant", substitua os valores perdidos por fill_value. Pode ser usado com strings ou dados numéricos.</p>

In [3]:
quantitativas = SimpleImputer(missing_values=np.nan, strategy='mean')
quantitativas_2 = SimpleImputer(missing_values=np.nan, strategy='median') 
qualitativas = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [4]:
df = pd.read_excel("Tassio'_'ENEM_DADOS_Anomalias.xlsx")

In [5]:
display(df)

,NU_ANO,SG_UF_RESIDENCIA,NU_INSCRICAO,Regiao_Nome,UF_Nome,UF_Capital,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,Sexo,COR_RACA,Tipo_Escola,NU_IDADE,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,NOTA_MEDIA,LONGITUDE,LATITUDE
0,2017,AC,170000004162,Norte,Acre,Sim,1200401,Rio Branco,Masculino,Parda,Não Respondeu,31.0,597.2,536.3,475.6,446.2,460.0,503.06,-67.810529,-9.978299
1,2017,AC,170000018272,Norte,Acre,Sim,1200401,Rio Branco,Feminino,Parda,Não Respondeu,35.0,514.9,565.8,441.5,487.1,380.0,477.86,-67.810529,-9.978299
2,2017,AC,170000021804,Norte,Acre,Sim,1200401,Rio Branco,Masculino,Preta,Pública,17.0,492.4,484.3,540.2,NaN,560.0,515.48,-67.810529,-9.978299
3,2017,AC,170000022442,Norte,Acre,Sim,1200401,Rio Branco,Masculino,Parda,Não Respondeu,26.0,396.6,474.5,465.4,370.9,580.0,457.48,-67.810529,-9.978299
4,2017,AC,170000032126,Norte,Acre,Sim,1200401,Rio Branco,Feminino,Parda,Não Respondeu,21.0,429.8,498.2,532.9,NaN,580.0,521.26,-67.810529,-9.978299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,2019,TO,190006110903,Norte,Tocantins,Não,1702109,Araguaína,Masculino,Parda,Privada,17.0,487.4,547.1,502.2,591.2,760.0,577.58,-48.208705,-7.191329
799996,2019,TO,190006112437,Norte,Tocantins,Não,1715259,Novo Jardim,Feminino,Parda,Pública,17.0,426.4,458.4,534.1,507.7,540.0,493.32,-46.630787,-11.815875
799997,2019,TO,190006112454,Norte,Tocantins,Sim,1721000,Palmas,Feminino,Preta,Não Respondeu,25.0,381.0,386.6,445.0,473.1,460.0,429.14,-48.351044,-10.163253
799998,2019,TO,190006112455,Norte,Tocantins,Sim,1721000,Palmas,Masculino,Parda,Pública,23.0,490.1,428.6,566.9,527.7,560.0,514.66,-48.351044,-10.163253
799999,2019,TO,190006112457,Norte,Tocantins,Não,1711803,Juarina,Feminino,Preta,Pública,17.0,357.4,417.3,465.9,390.1,460.0,418.14,-49.098643,-8.117424

In [5]:
df.isnull().sum().sort_values(ascending = False)

NU_NOTA_MT                 11786
NU_NOTA_LC                  8167
Sexo                        8032
COR_RACA                    5350
NOTA_MEDIA                  3042
NU_NOTA_CN                  2826
Tipo_Escola                 2515
NU_NOTA_REDACAO             2368
NU_NOTA_CH                  1464
NU_IDADE                     547
LONGITUDE                      0
NU_ANO                         0
SG_UF_RESIDENCIA               0
NO_MUNICIPIO_RESIDENCIA        0
CO_MUNICIPIO_RESIDENCIA        0
UF_Capital                     0
UF_Nome                        0
Regiao_Nome                    0
NU_INSCRICAO                   0
LATITUDE                       0
dtype: int64

In [6]:
#Variaveis quantitativas
df['NU_NOTA_MT'] = quantitativas_2.fit_transform(df[['NU_NOTA_MT']])
df['NU_NOTA_LC'] = quantitativas_2.fit_transform(df[['NU_NOTA_LC']])
df['NU_NOTA_CN'] = quantitativas_2.fit_transform(df[['NU_NOTA_CN']])
df['NU_NOTA_CH'] = quantitativas_2.fit_transform(df[['NU_NOTA_CH']])
df['NU_NOTA_REDACAO'] = quantitativas_2.fit_transform(df[['NU_NOTA_REDACAO']])
df['NOTA_MEDIA'] = quantitativas_2.fit_transform(df[['NOTA_MEDIA']])
df['NU_IDADE'] = quantitativas_2.fit_transform(df[['NU_IDADE']])

In [8]:
df.isnull().sum().sort_values(ascending = False)

Sexo                       8032
COR_RACA                   5350
Tipo_Escola                2515
NU_IDADE                      0
LONGITUDE                     0
NOTA_MEDIA                    0
NU_NOTA_REDACAO               0
NU_NOTA_MT                    0
NU_NOTA_LC                    0
NU_NOTA_CH                    0
NU_NOTA_CN                    0
NU_ANO                        0
SG_UF_RESIDENCIA              0
NO_MUNICIPIO_RESIDENCIA       0
CO_MUNICIPIO_RESIDENCIA       0
UF_Capital                    0
UF_Nome                       0
Regiao_Nome                   0
NU_INSCRICAO                  0
LATITUDE                      0
dtype: int64

In [7]:
#Variaveis qualitativas
df['Sexo'] = qualitativas.fit_transform(df[['Sexo']])
df['COR_RACA'] = qualitativas.fit_transform(df[['COR_RACA']])
df['Tipo_Escola'] = qualitativas.fit_transform(df[['Tipo_Escola']])

In [8]:
df.isnull().sum().sort_values(ascending = False)

NU_ANO                     0
SG_UF_RESIDENCIA           0
LONGITUDE                  0
NOTA_MEDIA                 0
NU_NOTA_REDACAO            0
NU_NOTA_MT                 0
NU_NOTA_LC                 0
NU_NOTA_CH                 0
NU_NOTA_CN                 0
NU_IDADE                   0
Tipo_Escola                0
COR_RACA                   0
Sexo                       0
NO_MUNICIPIO_RESIDENCIA    0
CO_MUNICIPIO_RESIDENCIA    0
UF_Capital                 0
UF_Nome                    0
Regiao_Nome                0
NU_INSCRICAO               0
LATITUDE                   0
dtype: int64

In [ ]:
#Lembrando que vc pode salvar o arquivo tanto em Csv como XLS

df.to_csv('pessoas.csv', sep = ";", encoding = "utf-8", index=False)

In [9]:
df.to_excel('Tassio_ENEM_DADOS_testes.xlsx', encoding = "utf-8", index=False)